<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
     label.error{
         margin-left: 10px;
         width: auto;
         display: inline;
     }
    </style>
    <meta charset="utf-8">
    <title>{% trans %}GNUKhata{% endtrans %}</title>
  </head>
  <body>
    <div id="forgotpasswordpanel"  class="mainbox">
      <!--alert bars-->
      <div class="alert alert-danger" id="forgotpassword-incorrectdetails-alert" role="alert" aria-live="rude" hidden>
        <strong>{% trans %}Could not change password{% endtrans %}</strong>. {% trans %}Please revisit your entries.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="forgotpassword-nosuchuser-alert" role="alert" aria-live="rude" hidden>
        {% trans %}No such user.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="forgotpassword-connectionfailed-alert" role="alert" aria-live="rude" hidden>
        {% trans %}Connection Failed.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="username-blank-alert" role="alert" aria-live="rude" hidden>
        {% trans %}Please enter a{% endtrans %} <strong>{% trans %}Username{% endtrans %}</strong>.
      </div>
      <div class="alert alert-danger" id="securityanswer-blank-alert" role="alert" aria-live="rude" hidden>
        {% trans %}A valid{% endtrans %} <strong>{% trans %}Security Answer{% endtrans %}</strong> {% trans %}is required.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="newpassword-blank-alert" role="alert" aria-live="rude" hidden>
        <strong>{% trans %}New Password{% endtrans %}</strong> {% trans %}cannot be blank.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="passwords-dont-match-alert" role="alert" aria-live="rude" hidden>
        {% trans %}Passwords do not match.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="securityanswer-incorrect-alert" role="alert" aria-live="rude" hidden>
        <strong>{% trans %}Security Answer{% endtrans %}</strong> {% trans %}incorrect.{% endtrans %}
      </div>
      <div class="alert alert-danger" id="confirmpassword-blank-alert" role="alert" aria-live="rude" hidden>
        <strong>{% trans %}Password{% endtrans %}</strong> {% trans %}not confirmed.{% endtrans %}
      </div>
      <!--panel stars-->
      <div class="panel shadow col-sm-6 col-sm-offset-3" style="padding:0 !important;" >
        <div class="panel-heading">
          <div class="panel-title">{% trans %}Forgot Password?{% endtrans %}</div>
        </div>

        <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="username" required>{% trans %}Us<u>e</u>rname{% endtrans %} :</label>
              <input style="border-radius: 4px" id="username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="e" required="" autocomplete="off"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityquestion">{% trans %}Security <u>Q</u>uestion{% endtrans %} :</label>
              <input style="border-radius: 4px" id="securityquestion" type="text" class="form-control col-xs-12" name="securityquestion" value="" accesskey="q" required="" readonly disabled autocomplete="off" aria-live="rude"></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityanswer">{% trans %}Security <u>A</u>nswer{% endtrans %} :</label>
              <input style="border-radius: 4px" id="securityanswer" type="text" class="form-control col-xs-12" name="securityanswer" value="" accesskey="a" required="" autocomplete="off"></input>
            </div>

            <div style="margin-bottom: 25px; display:none;" class="input-group col-xs-12 passwordfields">
              <label for="newpassword">{% trans %}Enter New Pass<u>w</u>ord{% endtrans %} :</label>
              <input style="border-radius: 4px" id="newpassword" type="password" class="form-control col-xs-12" name="newpassword" accesskey="w" required="" autocomplete="off"></input>
            </div>

            <div style="margin-bottom: 25px; display: none" class="input-group col-xs-12 passwordfields">
              <label for="confirmpassword">{% trans %}C<u>o</u>nfirm New Password{% endtrans %} :</label>
              <input style="border-radius: 4px" id="confirmpassword" type="password" class="form-control col-xs-12" name="confirmpassword" accesskey="o" required="" autocomplete="off"></input>
            </div>

            <input id="orgcode" type="hidden" name="orgcode" value="{{orgcode}}" class="form-control" autocomplete="off"></input>
            <input id="userid" type="hidden" name="userid" value="" class="form-control" ></input>

            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="btnsubmit" type="submit" class="btn btn-success btn-sm"  accesskey="s">{% trans %}<i class="fa fa-floppy-o" aria-hidden="true"></i> <u>S</u>ave{% endtrans %}</button>
                <button id="back" type="button" class="btn btn-danger btn-sm"accesskey="b">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i> <u>B</u>ack{% endtrans %}</button>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
    <script src="{{request.static_url('gkwebapp:static/js/forgotpassword.js')}}"></script>
  </body>
</html>
